<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/create_post.css">
</head>
<body>

<main>
    <div class="container">
        {% include 'blocks/header.html' %}
        <div class="header">
            <img src="{{ STATIC_URL }}static/img/python-django-course.webp" width="100"/>
        </div>
        <div class="archive">
            <p align="right"><a href="article/new/">Добавить новость</a></p>
            {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title"><a href="article/{{ post.id }}">{{ post.title }}</a></h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created- date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>


</body>
</html>