<!DOCTYPE html>
<html>
<head>
    <title>Django Public Blog - создать статью</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/create_post.css">
</head>
<body>
<main>
    <div class="container">
        {% include 'blocks/header.html' %}
        <div class="header">
            <br><br>
            <img src="/{{ STATIC_URL }}static/img/python-django-course.webp" width="100"/>
        </div>
        <div class="content">
            <br>
            <h1><b>Написать статью</b></h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" name="title" placeholder="Название статьи"
                       value="{{ form.title }}">
                <br>
                <textarea class="form-control" name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
                <br>
                <button class="btn btn-primary" type="submit">Сохранить</button>
                <button class="btn btn-secondary" type="button" onclick="location.href = '/'">Отмена</button>
            </form>
            {{ form.errors }}
        </div>
    </div>
</main>
</body>
</html>
